.iconButton {
    display: flex;
    align-items: center;
    background-color: var(--bg-base, #ffffff);
    border: 1px solid var(--border-color, #ededed);
    border-radius: 8px;
    padding: 6px 8px;
    font-size: 14px;
    color: var(--text-highlight, #2b2b2b);
    outline: none;
    transition: background-color 300ms ease-in-out;
    &:hover {
        background-color: var(--bg-dent, #F6F6F6);
    }
    &:active {
        background-color: var(--border-color, #ededed);
    }
    &:disabled {
        color: var(--separator-color, #babec9);
        border-color: var(--separator-color, #babec9);
        cursor: not-allowed;
        &:hover {
            background-color: var(--bg-base, #ffffff);
        }
        .icon {
            color: var(--separator-color, #babec9);
        }
    }
}

.icon {
    font-size: 16px;
    color: var(--text-muted, #6c707c);
}

.margin {
    margin-right: 8px;
}