.menu {
  border: 1px solid var(--bit-border-color-lightest);
  border-radius: 8px;
  padding: 4px 0;
  overflow: hidden;
  top: calc(100% + 8px);
  max-width: inherit;
  background-color: #ffffff;
}
