.listContainer {
  overflow-y: auto;
  max-height: 330px;
}
.titleList {
  color: var(--bit-text-color-heavy, #2b2b2b);
  font-weight: bold;
  padding: 0 24px 8px;
  margin: 0; // reset default browser
}
.separator {
  border: none;
  border-bottom: 1px solid var(--bit-border-color-lightest, #ededed);
  margin: 16px 24px;
}
.checkboxItem {
  padding-left: 24px;
  padding-right: 24px;
}
.searchInput {
  margin: 4px 16px 16px;
  .icon {
    width: 16px;
  }
}
