.listContainer {
  overflow-y: auto;
  max-height: 330px;
}
.titleList {
  color: var(--bit-text-color-heavy, #2b2b2b);
  font-weight: bold;
  padding: 0 24px 8px;
  margin: 0; // reset default browser
}
