$borderRadius: 8px;

.dropDown {
  --bit-drawer-margin: 4px;
  display: inline-block;
}
.dropClass {
  padding: 24px;
}
.colorPicker {
  display: inline-flex;
  cursor: pointer;
  border-radius: $borderRadius;
  transition: 80ms background-color, 80ms border-color, 80ms box-shadow;
  position: relative;

  &:hover {
    .colorBox {
      border-color: var(--bit-border-color, #babec9);
    }
    .textBox {
      border-color: var(--bit-border-color, #babec9);
      background-color: var(--bit-bg-heavy, #f6f6f6);
    }
  }
  &:active {
    .colorBox {
      border-color: var(--bit-border-color-heavy, #878c9a);
    }
    .textBox {
      border-color: var(--bit-border-color-heavy, #878c9a);
      background-color: var(--bit-bg-heaviest, #ededed);
    }
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.125em var(--bit-accent-bg, #eceaff);
  }
  &.disabled {
    cursor: not-allowed;
    .textBox {
      color: var(--bit-border-color, #babec9);
      background-color: var(--bit-bg-color, #ffffff);
    }
    .colorBox,
    .textBox {
      border-color: var(--bit-border-color-lightest, #ededed);
    }
  }

  .textBox,
  .colorBox {
    transition: 80ms background-color, 80ms border-color, 80ms box-shadow;
    border: 1px solid var(--bit-border-color-lightest, #ededed);
    box-sizing: border-box;
  }
  .textBox {
    border-right: none;
    border-radius: $borderRadius 0 0 $borderRadius;
    display: flex;
    align-items: center;
    padding: 11px 16px;
    background-color: var(--bit-bg-color, #ffffff);
    color: var(--bit-text-color-heavy, #2b2b2b);
  }

  .colorBox {
    width: 2.85em;
    border-radius: 0 $borderRadius $borderRadius 0;

    &.noText {
      border-radius: $borderRadius;
    }
  }
}
