$borderRadius: 8px;

.colorsBox {
  z-index: 1;
  position: absolute;
  top: calc(100% + 4px);
  display: grid;
  grid-template-columns: repeat(auto-fill, 24px);
  grid-gap: 8px;
  width: 234px;
  padding: 24px;
  background-color: var(--bit-bg-color, #ffffff);
  border: 1px solid var(--bit-border-color-lightest, #ededed);
  border-radius: $borderRadius;

  .selectableColor {
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.hidden {
  display: none;
}
