.buttonSizes {
  &[data-size='s'] {
    height: 32px;
    font-size: 14px;
  }

  &[data-size='m'] {
    height: 40px;
    font-size: 16px;
  }

  &[data-size='l'] {
    height: 48px;
    font-size: 16px;
  }
}
