.menuItem {
  display: flex;
  align-items: center;
  padding: 8px;
  text-decoration: none;
  color: var(--bit-text-color-heavy, #2b2b2b);
  background-color: transparent;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out, border-color 150ms ease-in-out;
}

.withIcon {
  > :first-child {
    color: var(--bit-text-color-light, #6c707c);
    margin-right: 0.76em;
    font-size: 1.15em;
  }
  &.active {
    > :first-child {
      color: var(--bit-accent-color, #6c5ce7);
    }
  }
}

.interactive:hover {
  background-color: var(--bit-bg-heavy, #f6f6f6);
  cursor: pointer;
}

.active {
  background-color: var(--bit-accent-bg, #eceaff);

  &:hover {
    background-color: var(--bit-accent-bg, #eceaff);
  }
}
